
psalt/.vs/*
psalt/psalt/obj/*
psalt/psalt/obj/Debug/*
psalt/TestEncrypt/obj/*.*
*.user
*.cache
psalt/psalt/obj/Debug/netcoreapp2.2/*.cache
.vscode/*
psalt/TestEncrypt/obj/Debug/netcoreapp2.2/*.cs
psalt/TestEncrypt/obj/Debug/netcoreapp2.2/*.cache
